*{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    --color-primary: rgb(242, 235, 237);
    --color-pink-secondary:rgba(247, 141, 141, 0.424);
    --color-heading: rgb(111, 110, 110);
    --color-background-light: rgba(242, 235, 237, 0.667);
    --color-background-dark: rgba(131, 131, 131, 0.768);
}


main{
    padding: 10px;
}






/* ------------------- LOGIN/OUT ------------------- */
.logged-in-box{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    text-align: left;
    padding: 1%;
    height: 40px;
    top: 0;
    left: 0;
    text-transform: uppercase;
}

.logout-btn{
    background-color: red;
    border: 2px solid darkred;
    color: darkred;
    position: relative;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding: .5%;
}


.logout-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}



/* ------------------- HEADER ------------------- */
.title{
    padding: 20px;
    margin: -20px;
    opacity: 0.5;
    background-color: transparent;
}

.titleIndex{
    padding: 20px;
    opacity: 0.5;
    background-color: transparent;
    margin-top: -9.5%;
    position: relative;
    animation: Arthusen_ 2s;
    font-size: 55px;
}

.headerIndex{
    background-image: linear-gradient(to bottom,
                        var(--color-background-dark),
                        var(--color-primary)),
                        url('/../assets/uploads/footer.jpg');
    min-height: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: 2;
    width: 100%;
}


@keyframes Arthusen_ {
    from {top: -500px;}
    to {top: 0}
  }

  
.h1-header {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 5em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    transform: translate3d(-50%,-50%,0);
    width: 80%;
    padding-top: 4%;
    font-size: 50px;
    border-top: 1px solid var(--color-heading);
}



header{
    background: url('/../assets/uploads/bw.jpg');
    min-height: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: var(--color-heading);
    text-decoration: none;
    padding: 2%;
    cursor: pointer;
    background-color: rgba(242, 235, 237, 0.667);
    font-size: medium;
    font-weight: 500;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--color-pink-secondary);
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    border-left: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
    box-shadow: 5px 5px 16px 1px var(--color-primary);
    z-index: 1;
    margin-top: 15%;
    margin-left: -11%;
    padding: 10%;
    background-color: var(--color-primary);
    color: var(--color-heading);
    white-space: nowrap;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    padding-top: 5%;
    margin-top: 7%;
}

.drop-head{
    white-space: nowrap;
}


ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(242, 235, 237);
    position: sticky;
    top: 0;
    z-index: 2;
}



ul a{
    color: var(--color-heading);
    text-decoration: none;
    padding: 2%;
    cursor: pointer;
    background-color: rgba(242, 235, 237, 0.667);
    font-size: larger;
    font-weight: 500;
}

ul a:hover {
    color: black;
} 



/* ------------------- STARTSIDA ----------------  */

.startsida-container{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
}

.startsida-box{
    margin: 1%;
    width: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/uploads/brush.jpg');
}
.startsida-box-2{
    margin: 1%;
    width: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/uploads/color.jpg');
    filter: brightness(80%);
}

.img-startsida,
.img-startsida-2{
    min-height: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 0;
}

 .startsida-box:hover,
 .startsida-box-2:hover{
    filter: brightness(50%);
}



.startsida-banner{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: var(--color-primary);
    color: var(--color-heading);
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: larger;
    text-transform: uppercase;
    margin-top: 2%;
    margin-bottom: 5%;
}

.text-startsida{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    padding: 5%;
}

.h1-startsida{
    padding-bottom: 3%;
    text-align: center;
}

.p-text-startsida{
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    line-height: 1.3;
}

.p-textunder-startsida{
    margin-right: 10%;
    margin-left: 10%;
    line-height: 1.3;
}


.startsida-box-2 a,
.startsida-box a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}

.del-50{
    width: 48%;
    margin: 1%;
}


.map {
    height: 545px;
    width: 100%; 
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 40px var(--color-primary);
  }

.form-contaus{
  border: 1px solid var(--color-primary);
  padding: 4%;
  box-shadow: 0 0 40px var(--color-primary);
  border-radius: 5px;
  height: 400px;
  width: 40%;
  margin: 1%;
}

.div-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
}

.disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

.user-disabled{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--color-primary);
    padding: 4%;
    font-size: small;
    color: rgba(110, 110, 110, 0.877);
    border: 1px solid var(--color-background-dark);
    width: 100%;
    cursor: not-allowed;
}

/* ------------------- MY ACCOUNT ----------------  */
.my-account-container{
    display: flex;
    flex-direction: column;
    margin:2%;
}

.my-account-top-container{
    display: flex;
    flex-direction: row;
}

.account-img{
    border: 1px solid var(--color-primary);
    height: 400px;
    width: 400px;
}
.account-img-text{
    margin-left: 5%;
}

.my-account-bottom-container{
    margin-top: 5%;
}



/* ------------------- fetch API jsonproducts.php ----------------  */
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    width: 100%;
}


.grid-card{
    padding: 2%;
    max-width: 350px;
    max-height: 500px;
    margin: 5%;
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 40px var(--color-primary);
}

.img {
    height: 350px;
    width: 100%;
    padding-top: 2%;
}


.box-btn {
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--color-primary);
    padding: 3%;
    width: 100%;
    font-weight: 600;
    font-size: large;
    color: var(--color-background-dark);
    border: 1px solid var(--color-primary);
    cursor: pointer;
/*     border-radius: 5px; */
}

.box-btn:hover{
    background-color: white;
    transition: .5s;
    color: var(--color-heading);
    border-color: var(--color-primary);
}

.h4-pad {
    padding-top: 3%;
    padding-bottom: 3%;
}

.zoom-img-container{
        overflow: hidden;
        margin: 0 auto;
}

.zoom-img{
        width: 100%;
        transition: 0.5s all ease-in-out;
}

.zoom-img:hover{
    transform: scale(2);
}



/* -------------------   --------------- */
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-login{
    border: 1px solid var(--color-primary);
    padding: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 40px var(--color-primary);
    border-radius: 5px;
    width: 30%;
}

input.form-input,
textarea.form-input{
    display: block;
    width: 92%;
    padding: 4%;
    color: var(--color-background-dark);
    border: 1px solid var(--color-background-dark);
    transition: background 1s, border-color 1s;
    background-color: var(--color-primary);
    outline: none;
    text-transform: uppercase;
}

.wrong{
    color: red;
    text-transform: uppercase;
    font-size: medium;
    margin-bottom: 2%;
    margin-top: -2%;
}

h5{
    color: rgb(47, 196, 47);
    text-transform: uppercase;
    font-size: medium;
    margin-bottom: 2%;
    margin-top: -2%;
}


.form-input:focus{
    background-color: white;
    border-color: var(--color-heading);
}


/*  animation för aktiv skriv fält i form */
.login-user:active,
.register-user:active,
.user-regitration:active,
.admin-order-delete:active,
.place-orderBtn:active,
.deleteBtn:active{
    transform: scale(.8);
}

/*  class för btns container */
.form-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* class för logga in btn och registrera btn */
.login-user,
.register-user{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--color-primary);
    padding: 3%;
    font-size: small;
    color: rgba(110, 110, 110, 0.877);
    border: 1px solid var(--color-background-dark);
    cursor: pointer;
    width: 44%;
}

.user-regitration{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--color-primary);
    padding: 4%;
    font-size: small;
    color: rgba(110, 110, 110, 0.877);
    border: 1px solid var(--color-background-dark);
    cursor: pointer;
    width: 100%;
}

.login-user{
    margin-right: 1%;
}

/*  class för hovring över knapparna */
.login-user:hover,
.register-user:hover,
.user-regitration:hover,
.admin-order-delete:hover,
.place-orderBtn:hover{
    background-color: white;
    transition: .5s;
    color: var(--color-heading);
    border-color: var(--color-heading);
}


.deleteBtn{
    background-color: red;
    border: 2px solid darkred;
    color: darkred;
    font-size: 15px;
    text-align: center;
}

.deleteBtn:hover{
    opacity: 0.8;
    cursor: pointer;
}

.form-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}
.form-div-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5%;
}

.place-orderBtn{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--color-primary);
    font-size: small;
    color: rgba(110, 110, 110, 0.877);
    border: 1px solid var(--color-background-dark);
    cursor: pointer;
    padding: 4%;
    width: 100%;
}


/* -------------- ADMIN ----------- */
.admin-users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-users-box{
    border: 1px solid var(--color-primary);
    padding: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 40px var(--color-primary);
    border-radius: 5px;
    width: 30%;
}

.admin-user-card{
    padding: 1%;
}

.users-role{
    font-size: 17px;
    text-transform: uppercase;
    white-space: nowrap;
}

.users-name{
    text-decoration: none;
    color: var(--color-heading);
    cursor: pointer;
}

.link-oops{
    text-decoration: none;
    color: var(--color-heading);
    cursor: pointer;
    font-size: larger;
}

.empty-cart{
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
}

.users-name:hover,
.link-oops:hover{
    color: black;
}

.admin-orders-master{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    gap: 2%;
    padding: 5% 2%;
}

.admin-orders-container{
    min-width: 300px;
    max-height: 500px;
    margin: 2%;
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 40px var(--color-primary);
    padding: 2%;
}
.admin-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4%;

}
.admin-box-order{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 600px;
}


.admin-box-left{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.admin-box-right{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.admin-box-rightt{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    width: 40%;
}

.admin-heading{
    margin-top: 2%;
    margin-left: 2%;
}

.cart-heading{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.admin-sub-heading{
    text-align: center;
}

.admin-content-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-users-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.users-order{
    color: var(--color-heading);
    padding-top: 2%;
    padding-left: 5%;
    white-space: break-spaces;
}



.admin-order-delete{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--color-primary);
    padding: 5%;
    font-size: small;
    color: rgba(110, 110, 110, 0.877);
    border: 1px solid var(--color-background-dark);
    cursor: pointer;
    margin-left: -10%;
}

.one{
    width: 45%;
}

.row{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    width: 100%;
}

.admin-update{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.admin-update-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--color-primary);
    padding: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 40px var(--color-primary);
    border-radius: 5px;
    width: 30%;
}

.row-space-between{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--color-pink-secondary);
    padding: 5%;
}


.row-space-between:last-child{
    border-bottom: none;
    padding-bottom: 0;
}

.row-space-between:first-child{
    padding-top: 0;
}

.text-left-admin-products{
    padding-top: 5%;
}



/* ------------------- CART ------------------- */
.miniature-pic-products{
    width: 200px;
    height: 200px;
}

.description-for-pic-products{
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    padding: 10px;
}


.show-product-details{
    padding: 5px 10px;
    font-size: 15px;
    margin-left: 10px;
}


.show-product-details:hover{
    cursor: pointer;
    opacity: 0.8;
}


form{
    margin: 10px 0;
}

.product{ /* från pages->products (allt i varukorgen) */
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title-price-cart{
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-top: 25%;
}

/* ------------------- FOOTER ------------------- */

.footer{
    background-color: var(--color-background-dark); 
    background-image: linear-gradient(to bottom,
                        var(--color-background-light),
                        black), 
                        url('/assets/uploads/footer.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 7% 5%;
    bottom:0;
    width: 90%;
}

.footer-one{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

.footer-two{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    text-transform: uppercase;
    text-align: right;
    color: grey;
}

.footer-one a,
.footer-two a{
    text-decoration: none;
    color: grey;
    cursor: pointer;
    padding-top: 2%;
}

.footer-one a:hover{
    color: white;
}

.div-headern{
    font-size: 25px;
    padding-bottom: 10%;
}

.adress{
    display: flex;
    flex-direction: column;
    color: var(--color-heading);
    margin-top: 15%;
    text-align: right;
}


/* ------------------- accordion ------------------- */

.accordion-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%
}

.accordion-head {
    background-color: var(--color-primary);
    color: var(--color-heading);
    cursor: pointer;
    width: 50%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    padding: 2% 5%;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  
  .active, .accordion-head:hover {
    background-color: var(--color-background-light);
  }


  .accordion-text {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
    width: 40%;
  }

  .inside-accordion{
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .accordion-head.active:after {
    float: right;
    content: "\2212";
    color: rgba(255, 0, 0, 0.644);
    transition: transform 3s rotate(0deg);
    font-size: 20px;
  }
  
  .accordion-head::after {
    content: "\002B";
    font-size: 20px;
    transition: transform 2s ease-in;
    float: right;
}

.accordion.active+.panel {
    display: block;
}

/* ---------------- BUGER MENU ------------------- */
.bar{
    margin-left: 10%;
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: var(--color-heading);
    border-radius: 5px;
}

.bar:nth-child(1){
    transform: translateY(15px);
}


.bar:nth-child(2){
    transform: translateY(-15px);
}

.hamburger.active .bar:nth-child(3){
    transition: .3s ease-in-out;
    opacity: 0;
} 

.hamburger.active .bar:nth-child(2){
    transform:  rotate(-45deg);
} 

.hamburger.active .bar:nth-child(1){
    transform:  rotate(45deg);
} 


.hamburger{
    cursor: pointer;
    color: var(--color-heading);
    background-color: var(--color-primary);
    z-index: 666;
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    display: none;
}

.navbar{
    width: 100%;
}

.nav.active{
    left: -10%;
    z-index: 1;
    background-color: var(--color-primary);
    border-bottom: 1px solid var(--color-heading);
}
/* ---------------- --------------------- */

.p-text{
    font-size: medium;
    text-transform: uppercase;
    color: var(--color-heading);
    padding: 1%;
}

.distance{
    color: red;
    text-transform: uppercase;
    font-size: medium;
}



/* ------------------- JS ------------------- */

#favoritirepris {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
}
  
#favoritirepris:hover {
    opacity: 0.8; }


/* ------------------- MQ ------------------- */
@media screen and (min-width: 501px) and (max-width: 768px) {
    .form-login{
        width: 60%;
    }
    .admin-users-box{
        width: 60%;
    }
    .row-space-between{
        width: 90%;
    }
    .admin-box-order{
        min-width: auto;
    }
    .admin-orders-master,
    .admin-content-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2%;
    }
    .admin-orders-container{
        width: 68%;
    }
    .admin-update-box{
        width: 60%;
    }
    .admin-order-delete{
        padding: 1%;
    }
    .title-price-cart{
        padding-top: 10%;
    }
    .deleteBtn{
        margin: 10%;
        margin-left: -2%;
    }
    article.product{
        padding: 2%;
    }
    .box-btn{
        font-size: medium;
    }
    .div-space-between{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .form-contaus{
        width: 85%;
    }
    .del-50{
        width: 93%;
    }
    .startsida-box-2,
    .startsida-box{
        width: 95%;
        height: 600px;
    }
    .div-space-between{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .img-startsida{
        min-height: 600px;
        height: 600px;
    }
    .admin-order-delete{
        padding: 7%;
    }
    .div-headern{
        font-size: 18px;
    }
    .footer-one a,
    .footer-two a,
    .footer-two{
        font-size: 13px;
    }

}



@media screen and (max-width: 500px){
    .admin-box{
        display: flex;
        flex-direction: row;
    }
    .admin-box-order{
        display: flex;
        flex-direction: column;
        text-align: left;
        min-width: 100px;
        align-items: start;
        padding-left: 5%;
        line-height: .9;
    }
    .box-btn{
        font-size: small;
    }
    .headerIndex{
        height: 500px;
        min-height: 500px;
    }
    .titleIndex{
        padding: 20px;
        opacity: 0.5;
        background-color: transparent;
        margin-top: -20%;
        position: relative;
        animation: Arthusen_ 2s;
        font-size: 40px;
    }
    .h1-header{
        font-size: 30px;
        top: 32%;
    }

    @keyframes Arthusen_ {
        from {top: -200px;}
        to {top: 0}
      }


    .nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        position: fixed;
        left: -110%;
        top: 300px;
        gap: 0;
        width: 100%;
        transition: .6s;
        padding-left: 10%;
        z-index: 5;
    }

    .navbar{
        width: 100%;
        background-color: var(--color-primary);
    }

     .hamburger{
        z-index: 777;
        display:flex;
    }

    .headerIndex{
        height: 300px;
        min-height: 300px;
    }
    .titleIndex{
        padding: 20px;
        opacity: 0.5;
        background-color: transparent;
        margin-top: -8%;
        position: relative;
        animation: Arthusen_ 2s;
        font-size: 30px;
    }

    .h1-header {
        top: 20%;
        padding-top: 3%;
        font-size: 20px;
    }

    .dropdown{
        background-color: rgb(242, 235, 237);
    }

    .dropdown-content {
        width: 109%;
        z-index: 1;
        margin-top: 0%;
        padding: 0%;
        border-bottom: 1px solid var(--color-heading);
        background-color: rgb(242, 235, 237);
    }
    .dropdown-content a {
        padding-top: 0;
        margin-top: 3%;
        padding-left: 20%;
        font-size: 15px;
    } 

    .startsida-container{
        display: flex;
        flex-direction: column;
    }

    .startsida-box-2,
    .startsida-box{
        width: 95%;
        height: 500px;
    }
    .div-space-between{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .del-50{
        width: 95%;
        margin: 0;
    }
    .form-contaus{
        width: 85%;
        height: auto;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .div-headern{
        margin-top: 2%;
        font-size: 15px;
        padding-bottom: 0;
    }
    .footer-two{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        margin-top: -30%;
        padding-bottom: 5%;
        z-index: 0;
    }
    .footer-one a,
    .footer-two a{
    padding-top: 0;
    font-size: 10px;
    z-index: 22;
    }
    .p-text-startsida,
    .p-textunder-startsida{
        margin-left: 0;
        margin-right: 0;
    }
    .img-startsida,
    .img-startsida-2{
    width: 95%;
    height: 500px;
    min-height: 500px;
    }  
    .admin-users-box,
    .form-login{
        width: 90%;
    }
    .admin-user-card{
        width: 90%;
    }
    .admin-orders-master{
        display: flex;
        flex-direction: column;
    }
    .admin-orders-container{
        width: 90%;
    }
    .admin-box,
    .admin-box-left,
    .admin-box-right{
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: left;
    }
    .admin-order-delete{
        margin-left: 0;
    }
    .grid-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .accordion-container,
    .accordion-head{
        width: 90%;
        font-size: 15px;
    }
}

