*{
    margin: 0;
/*     background-color: white; */
    font-family: 'Ubuntu', sans-serif;
    --color-primary: rgb(242, 235, 237);
    --color-pink-secondary:rgba(247, 141, 141, 0.424);
    --color-heading: rgb(111, 110, 110);
    --color-background-light: rgba(242, 235, 237, 0.667);
    --color-background-dark: rgba(131, 131, 131, 0.768);
}

main{
    padding: 10px;
}


/* ------------------- HEADER ------------------- */
.title{
    padding: 20px;
    margin: -20px;
    opacity: 0.5;
    background-color: transparent;
}

header{
    background: url('/../assets/uploads/bw.jpg');
    min-height: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(242, 235, 237);
}

.nav a{
    color: var(--color-pink-secondary);
    text-decoration: none;
    padding: 2%;
    cursor: pointer;
    background-color: rgba(242, 235, 237, 0.667);
    font-size: larger;
    font-weight: 500;
}

nav a:hover {
    color: rgba(247, 115, 115, 0.912);
}

.active {
    color: rgba(247, 115, 115, 0.912);
}

form{
    margin: 10px 0;
}

.product{ /* från pages->products (allt i varukorgen) */
    /* position: absolute; */
    border-bottom: 1px solid grey;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: 0px 30px ;
}

.title-price-cart{
    margin-left: 10px;
    padding: 10px;
}


/* ------------------- fetch API index.php ----------------  */
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    width: 100%;
}


.grid-card{
    padding: 2%;
    max-width: 350px;
    max-height: 500px;
    margin: 5%;
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 40px var(--color-primary);
}

.img {
    height: 350px;
    width: 100%;
    padding-top: 2%;
}

.box-btn {
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--color-primary);
    padding: 3%;
    width: 100%;
    font-weight: 600;
    font-size: large;
    color: var(--color-background-dark);
    border: 1px solid var(--color-primary);
    cursor: pointer;
/*     border-radius: 5px; */
}

.box-btn:hover{
    background-color: white;
    transition: .5s;
    color: var(--color-heading);
    border-color: var(--color-primary);
}

.h4-pad {
    padding-top: 3%;
    padding-bottom: 3%;
}



/* -------------------   --------------- */
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-login{
    border: 1px solid var(--color-primary);
    padding: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 40px var(--color-primary);
    border-radius: 5px;
    width: 30%;
}

input.form-input{
    display: block;
    width: 92%;
    padding: 4%;
    color: var(--color-background-dark);
    border: 1px solid var(--color-background-dark);
    transition: background 1s, border-color 1s;
    background-color: var(--color-primary);
    outline: none;
    text-transform: uppercase;
}


.form-input:focus{
    background-color: white;
    border-color: var(--color-heading);
}


/*  animation för aktiv skriv fält i form */
.login-user:active,
.register-user:active,
.user-regitration:active,
.admin-order-delete:active{
    transform: scale(.8);
}

/*  class för btns container */
.form-btns{
    display: flex;
    flex-direction: row;
    white-space: no-wrap;
    justify-content: space-between;
}

/* class för logga in btn och registrera btn */
.login-user,
.register-user{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--color-primary);
    padding: 3%;
    font-size: small;
    color: rgba(110, 110, 110, 0.877);
    border: 1px solid var(--color-background-dark);
    cursor: pointer;
    width: 44%;
}

.user-regitration{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--color-primary);
    padding: 4%;
    font-size: small;
    color: rgba(110, 110, 110, 0.877);
    border: 1px solid var(--color-background-dark);
    cursor: pointer;
    width: 100%;
}

.login-user{
    margin-right: 1%;
}

/*  class för hovring över knapparna */
.login-user:hover,
.register-user:hover,
.user-regitration:hover,
.admin-order-delete:hover{
    background-color: white;
    transition: .5s;
    color: var(--color-heading);
    border-color: var(--color-heading);
}



/* -------------- ADMIN ----------- */
.admin-users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-users-box{
    border: 1px solid var(--color-primary);
    padding: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 40px var(--color-primary);
    border-radius: 5px;
    width: 30%;
}

.admin-user-card{
    padding: 1%;
}

.users-role{
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
}

.users-name{
    text-decoration: none;
    color: var(--color-heading);
    cursor: pointer;
}

.users-name:hover{
    color: black;
}

.admin-orders-master{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
}

.admin-orders-container{
    padding: 5%;
    max-width: 350px;
    max-height: 500px;
    margin: 5%;
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 40px var(--color-primary);
}
.admin-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.admin-box-left{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.admin-box-right{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.admin-heading{
    margin-top: 2%;
    margin-left: 2%;
}

.row{
    display: flex;
    flex-direction: row;
    white-space: nowrap;

    width: 100%;
}

.users-order{
    color: var(--color-heading);
    padding-top: 2%;
    padding-left: 5%;
}



.admin-order-delete{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--color-primary);
    padding: 5%;
    font-size: small;
    color: rgba(110, 110, 110, 0.877);
    border: 1px solid var(--color-background-dark);
    cursor: pointer;
    margin-left: -10%;
}








/* ------------------- CART ------------------- */
.miniature-pic-products{
    width: 200px;
    height: 200px;
}

.description-for-pic-products{
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    padding: 10px;
}

h3{
    margin: 10px;
    padding: 30px;
}


.logged-in-box{
    padding: 10px;
    margin-top: -5px;
}

.logout-btn{
    padding: 5px 10px;
    background-color: red;
    border: 2px solid darkred;
    color: darkred;
    position: absolute;
    top: 390px;
    margin-left: 700px;
    font-size: 15px;
}


.logout-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}




/* ------------------- CART ------------------- */
.show-product-details{
    padding: 5px 10px;
    font-size: 15px;
    margin-left: 10px;
}


.show-product-details:hover{
    cursor: pointer;
    opacity: 0.8;
}


/* ------------------- FOOTER ------------------- */
.footer{
    background-color: var(--color-background-dark);
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    font-style: oblique;
}